body {
    background-color: beige;
    color: lightslategray;
    font-family: Verdana, "Time's New Roman", Geneva, Tahoma, sans-serif;

}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h2,
h3 {
    color: darkslategray;
}
.recipe {
    font-size: 28px;
    color: rgb(233, 177, 56); background-color: rgb(132, 135, 109);
}
